(kicad_sch
	(version 20250114)
	(generator "ai_circuit_architect")
	(generator_version "9.0")
	(uuid "{{ root_uuid }}")
	(paper "A4")
	(title_block
		(title "{{ title_block.title }}")
{% if title_block.date %}		(date "{{ title_block.date }}")
{% endif %}		(rev "{{ title_block.rev }}")
		(company "{{ title_block.company }}")
		(comment 1 "{{ title_block.comment }}")
	)
	(lib_symbols)
	(text "{{ title }}\n{{ subtitle }}"
		(at {{ title_x }} {{ title_y }} 0)
		(effects
			(font (size 1.27 1.27))
			(justify left bottom)
		)
		(uuid "{{ title_uuid }}")
	)
{% if diagram_image %}{{ diagram_image }}
{% endif %}{% for c in connections %}	(polyline
		(pts {% for p in c.pts %}(xy {{ p[0] }} {{ p[1] }}) {% endfor %})
		(stroke (width 0.3) (type solid) (color {{ c.color }}))
		(uuid "{{ c.uuid }}")
	)
{% endfor %}{% for s in sheets %}	(sheet
		(at {{ s.x }} {{ s.y }})
		(size 40 30)
		(fields_autoplaced yes)
		(stroke (width 0.1524) (type solid))
		(fill (color 0 0 0 0.0000))
		(uuid "{{ s.block_uuid }}")
		(property "Sheetname" "{{ s.name }}"
			(at {{ s.x }} {{ s.y_name }} 0)
			(effects (font (size 1.27 1.27)) (justify left bottom))
		)
		(property "Sheetfile" "{{ s.file }}"
			(at {{ s.x }} {{ s.y_file }} 0)
			(effects (font (size 1.27 1.27)) (justify left top))
		)
		(instances
			(project "{{ project_name }}"
				(path "/{{ root_uuid }}"
					(page "{{ s.page }}")
				)
			)
		)
	)
{% endfor %}{% for l in legend %}	(polyline
		(pts (xy {{ l.x1 }} {{ l.y1 }}) (xy {{ l.x2 }} {{ l.y2 }}))
		(stroke (width 0.6) (type solid) (color {{ l.color }}))
		(uuid "{{ l.uuid }}")
	)
	(text "{{ l.label }}"
		(at {{ l.label_x }} {{ l.label_y }} 0)
		(effects (font (size 1 1)) (justify left))
		(uuid "{{ l.label_uuid }}")
	)
{% endfor %}{% if notes %}	(text "{{ notes.text }}"
		(at {{ notes.x }} {{ notes.y }} 0)
		(effects (font (size 1 1)) (justify left top))
		(uuid "{{ notes.uuid }}")
	)
{% endif %}	(sheet_instances
		(path "/"
			(page "1")
		)
	)
)
